.mat-form-field{
    font-size: 12px;
  }

  .section-principal{
    padding-top: 80px;
  }
    .principal-cont{
      width: 90%;
      background-color:#e4d8bc;
      border-radius: 10px;
      border: 1px solid;
    }

/*.check-bg{
  background-image: url("../../../../assets/images/backgrounds/principal-chef.jpg");
  width: 100%;
  height: auto;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
  background-position: center;
}*/