<div class="section-principal promotion-bg" style="padding-bottom: 25px">
    <div class="container pt-5 principal-cont">
        <h1>Registro de promoción</h1>
    </div>
    <!-- Form para guardar los datos del promotion y se captura con [(ngModel)] -->
    <form>
        
        <div class="form-row" >
            <mat-form-field clsas="col-md-12">
                <mat-select name="txtCategory" [(ngModel)]="promotion.idProduct" [formControl]="idProductFormControl">
                  <mat-option>-- Seleccione un producto --</mat-option>
                  <mat-option *ngFor="let product of products" value="{{product.idProduct}}">{{product.name}}</mat-option>
                </mat-select>
                <mat-label>Producto</mat-label>
                <mat-error *ngIf="idProductFormControl.hasError('required')">
                    Este campo es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
        </div>
        <div class="form-row" >
            <mat-form-field class="col-md-12" appearance="outline" style="width: 100%;" autocomplete="off">
                <mat-label>Descuento</mat-label>
                <input matInput [(ngModel)]="promotion.descuento" [formControl]="descuentoFormControl" autocomplete="off" type="text" style="color: black !important;" (keypress)="keypressNumbers($event)" required>
                <mat-error *ngIf="descuentoFormControl.hasError('required')">
                    Este campo es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <!-- Div de botones para regresar o guardar los datos de los campos -->
        <div class="form-row pt-2">
            <div class="col-sm-12 text-right">     
                <button mat-raised-button color="accent" style="margin-bottom: 15px;margin-right: 8px;" (click)="regresar()">Regresar</button>   
                <button mat-raised-button color="primary" style="margin-bottom: 15px;" (click)="guardarPromotion()">Guardar</button> 
            </div>
        </div>
    </form> 
</div>