<div>
    <mat-toolbar class="toolbar2 hidden-xs">
        <div class="row toolbar-menu">
            <div class="col-sm-12 col-lg-5 col-md-4">
                <h1 class="h" style="color:white"><a style="text-decoration: none;">ChickenApp</a></h1>
            </div>
            <div class="col-sm-12 col-lg-7 col-md-8">
                <nav class="menu">
                    <li class="lista">Combos</li>
                    <li class="lista">Parrillas</li>
                    <li class="lista">Ensaladas</li>
                    <li class="lista">Promociones</li>
                    <li class="lista">
                        <a routerLink="/login">Iniciar Sesión</a>
                    </li>
                </nav>
            </div>
        </div>
    </mat-toolbar>
</div>
<div>
    <div class="espacio">
        <nav class="navbar navbar-dark bg-dark hidden-lg">
            <!--<button mat-icon-button color="primary" routerLink="/">
                <mat-icon style="width: 30px; padding-left: 0px;">home</mat-icon>
            </button>-->
            <a class="tit-m" href="#">
                <p class="titulo-m">ChickenApp</p>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="#">Combos<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Parrilla</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ensaladas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Promociones</a>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled" href="#">Comming soon</a>
                </li>
            </ul> -->
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
            </div>
            <!--
            <button routerLink="/login" mat-button color="primary">
                Iniciar Sesión
            </button>-->
        </nav>
    </div>
    <div class="home-section-1" >
        <div class="pollo-wallpaper">
            <div class="">
                    <div class="hs1-titulo">
                        <p>Pollito directo a tu puerta</p>
                        <div>
                            <img class="logo-pollo" src="../../../../assets/images/backgrounds/logo.png" style="width: 250px; height: 200px;">
                        </div>
                    </div>
                    <div class="hs1-subtitulos">
                        <p><mat-icon>alarm_on</mat-icon> Ahorra tiempo </p>
                        <p><mat-icon>store_mall_directory</mat-icon> Selecciona entre una amplia variedad de platillos</p>
                        <p><mat-icon>search</mat-icon> Mantente informado de tus pedidos</p>
                    </div>
            </div>
        </div>
    </div>
    <div class="home-section-2">
        <p><strong>Elige tu platillo favorito</strong></p>
        <div>
            <img src="../../../../assets/images/backgrounds/logo.png" style="width: 250px; height: 200px;">
        </div>
    </div>
    <div class="container menu"
    fxLayout="column"
    fxLayoutGap="10px">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="plato-1">
                    <p class="plato-desc">Cuarto Parrillero</p>
                    <div class="plato-hover">
                        <p class="plato-desc">Cuarto Parrillero</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="plato-2">
                    <p class="plato-desc">Ensalada Cocida</p>
                    <div class="plato-hover">
                        <p class="plato-desc">Ensalada Cocida</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="plato-3">
                    <p class="plato-desc2">2 Pollos a la brasa + 2 ensaladas familiares</p>
                    <div class="plato-hover2">
                        <p class="plato-desc2">2 Pollos a la brasa + 2 ensaladas familiares</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="plato-4">
                    <p class="plato-desc">Combo Familiar</p>
                    <div class="plato-hover">
                        <p class="plato-desc">Combo Familiar</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="plato-5">
                    <p class="plato-desc">Ensalada California</p>
                    <div class="plato-hover">
                        <p class="plato-desc">Ensalada California</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
