.toolbar2 {
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(255, 208, 0);
    border-color: darkorange;
    height: 70px;
    position: fixed;
    z-index: 100;
}
.toolbar3 {
    height: auto;
    background-color: white;
    padding-top: 70px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}
.mat-toolbar-row,
        .mat-toolbar-single-row {
            box-sizing: content-box;
            display:block;
        }

        h1 {
            cursor: default;
            position: relative;
            top: 0px;
            left: 0;
            outline: none;
            right: 0;
            bottom: 0;
            height: 100px;
            margin: auto;
            display: flex;
            padding-left: 0px;
            // -webkit-animation: bounce .3s ease infinite alternate;
            font-family: 'Erica One', cursive, Arial, Helvetica, sans-serif;
            font-size: 50px;
            color: firebrick;
            text-align: initial;
            line-height: 50px;
            text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, .6);
        }

.pollo-wallpaper{
    background-image: linear-gradient( #0000004d, #00000080 ),url("../../../../assets/images/backgrounds/portada-pollo-brasa.jpg");
    width: 100%;
    height: 540px;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.hs1-titulo{
    font-size: 50px;
    color: white;
    text-align: right;
    padding-top: 20px;
    padding-right: 50px;
}