.show-bg{
	background-image: url("../../../../assets/images/backgrounds/fondo3.jpg");
	height: auto;
	width: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    padding: 15px 30px;
    margin: auto;
}

.custom-dialog-container .mat-dialog-container {
    padding: 0px !important;
}
.mat-dialog-container{
    padding: 0px !important;
}
/*.mat-dialog-container {
    display: block !important;
    padding: 0px !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    overflow: hidden !important;
    outline: 0 !important;
    width: 100% !important;
    height: 100% !important;
    min-height: inherit !important;
    max-height: inherit !important;  
}
.mat-dialog-container[_ngcontent-bpu-c237] {
    display: block !important;
    padding: 0px !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    overflow: hidden !important;
    outline: 0 !important;
    width: 100% !important;
    height: 100% !important;
    min-height: inherit !important;
    max-height: inherit !important;  
}

.mat-dialog-content {
    display: block !important;
    margin: 0px !important; 
    padding: 0 24px !important;
    max-height: 65vh !important;
    overflow: auto !important;
    -webkit-overflow-scrolling: touch !important;
    
}

.mat-dialog-content[_ngcontent-bpu-c237] {
    display: block !important;
    padding: 0px !important;
    max-height: 65vh !important;
    overflow: auto !important;
    -webkit-overflow-scrolling: touch !important;
}*/