.logoapp{
    width: 200px;
    height: auto;
}
.registroLogin{
    padding-bottom: 20px;
}

@media(max-width: 425px){
    .hidden-xs {
      display: none !important;
    }
  }
  @media(max-width: 320px){
    .hidden-xs {
      display: none !important;
    }
  }