<div class="container pt-5 animated fadeIn">
    <div class="pt-5">
        <!--titulo-->
        <h1 style="color: black;">Historial de Ordenes</h1>
    </div>
     <!-- Tabla que muestra el listado de todos los pedidos del cliente que están registrado en el sistema -->
    <div class="tabla">
      <div class="mt-20 user-contenedor-table">
        <table mat-table matSort [dataSource]="dataSourceOne" class="mat-elevation-z8 user-table" #TableOneSort="matSort" style="width: 100%;">

          <ng-container matColumnDef="idpedido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  style="padding-right: 5px;">ID</th>
            <td mat-cell *matCellDef="let element">{{ element.idpedido }}</td>
          </ng-container>

          <ng-container matColumnDef="fechapedido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 5px;">Fecha</th>
            <td mat-cell *matCellDef="let element" style="padding-left: 5px;text-align: justify;">{{ element.fechapedido }}</td>
          </ng-container>

          <ng-container matColumnDef="tipopedido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 5px;">Tipo de pedido</th>
            <td mat-cell *matCellDef="let element" style="padding-left: 5px;text-align: justify;">{{ element.tipopedido }}</td>
          </ng-container>

          <ng-container matColumnDef="preciopedido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 5px;">Precio del pedido</th>
            <td mat-cell *matCellDef="let element" style="padding-left: 5px;text-align: justify;">{{ element.preciopedido }}</td>
          </ng-container>

          <ng-container matColumnDef="estadopedido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 5px;">Estado</th>
            <td mat-cell *matCellDef="let element" style="padding-left: 5px;text-align: justify;">{{ element.estadopedido }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsOne"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsOne" (click)="seleccionarOrder(row)" [style.background]="orderSeleccionado == row ? 'lightblue' : ''"></tr>
        </table>
      </div>
    </div>
    <mat-paginator #TableOnePaginator="matPaginator" [pageSize]="10" [pageSizeOptions]="[5, 10]"></mat-paginator>
     <!-- Grupo de botones para manipular el listado de orders -->
    <div class="row pt-2">
        <div class="col-12 text-right">
            <button mat-raised-button (click)="editarOrder()" [disabled]="orderSeleccionado == null" color="accent" style="margin-left: 5px;" disabled>Ver detalle de orden</button>
            <button mat-raised-button (click)="eliminarOrder()" [disabled]="orderSeleccionado == null" color="warn"  style="margin-left: 5px;" disabled>Eliminar</button>
            <button mat-raised-button  (click)="agregarOrder()" color="primary"  style="margin-left: 5px;">Agregar</button>
        </div>
    </div>
  </div>
