<div class="order-edit-section">
 <div class="section-principal" style="padding-bottom: 25px">
    <!--<img class="logo1" src="assets/imagenlogo.png" alt="logo chicken app">-->
    <div class="container pt-5 principal-cont">
        <div class="">
        <h1 align="center">Aquí están los productos de su carrito</h1>
    </div>
    <!-- Form para guardar los datos del orden y se captura con [(ngModel)] -->
    <form>
        
        <div class="tabla">
      <div class="mt-20 user-contenedor-table">
        <table mat-table matSort [dataSource]="dataSourceOne" class="mat-elevation-z8 user-table" #TableOneSort="matSort" style="width: 100%;">
          
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  style="padding-right: 5px;color: white;">Nombre del producto</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  style="padding-right: 5px;color: white;">Cantidad</th>
            <td mat-cell *matCellDef="let element">{{ element.cantidad }}</td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 5px;color: white;">Precio(Soles)</th>
            <td mat-cell *matCellDef="let element" style="padding-left: 5px;text-align: justify;">{{ element.price }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 5px;color: white;"> Descripción</th>
            <td mat-cell *matCellDef="let element" style="padding-left: 5px;text-align: justify;">{{ element.description }}</td>
          </ng-container>

<!--
          <ng-container matColumnDef="" stickyEnd>
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 5px;"> Ver imagen </th>
            <td mat-cell *matCellDef="let element" style="padding-left: 5px;text-align: justify;"> {{element.image}}
              <i class="material-icons" (click)="mostrarImagenProduct(element)" style="margin-right: 5px;color: rgb(48, 48, 235);cursor: pointer;">
                remove_red_eye
              </i>
            </td>
          </ng-container>
-->

          <tr mat-header-row *matHeaderRowDef="displayedColumnsOne"></tr>
          <!--<tr mat-row *matRowDef="let row; columns: displayedColumnsOne" (click)="seleccionarProduct(row)" [style.background]="productSeleccionado == row ? 'lightblue' : ''"></tr>-->
          <tr mat-row *matRowDef="let row; columns: displayedColumnsOne" ></tr>
        </table>
      </div>
    </div>
    <mat-paginator #TableOnePaginator="matPaginator" [pageSize]="10" [pageSizeOptions]="[10, 20, 100]"></mat-paginator>
        
        <!-- Div de botones para regresar o guardar los datos de los campos -->
        <div class="form-row">
            <div class="col-sm-12 text-right">
                <p>Este es el precio total <strong> {{precioTotal}} </strong></p>
            </div>
        </div>
        
        <div class="form-row" >
            <mat-form-field class="col-md-12" appearance="outline" style="width: 100%;" autocomplete="off">
                <mat-label>Tipo de pedido</mat-label>
                <mat-select [(ngModel)]="order.typeOrder" [formControl]="typeOrderFormControl" required>
                    <mat-option value="D">Delivery</mat-option>
                    <mat-option value="R">Recojo en tienda</mat-option>
                </mat-select>
                <mat-error *ngIf="typeOrderFormControl.hasError('required')">
                    Este campo es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        
        <div class="form-row pt-2">
            <div class="col-sm-12 text-right">
                <button mat-raised-button color="accent" style="margin-bottom: 15px;margin-right: 8px;" (click)="regresar()">Regresar</button>
                <button mat-raised-button color="primary" style="margin-bottom: 15px;" (click)="guardarOrder()">Proceder a confirmar su orden</button>
            </div>
        </div>
    </form>
  </div>
</div>